.quiz .container {
  width: 100%;
}

.quiz_question {
  width: 75%;
  display: flex;
  padding: 1rem 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quiz_question .quiz_questionNo {
  margin: 8px 0px;
  align-self: flex-start;
}

.quiz_question .quiz_questionChoice {
  width: 100%;
  border: 1.5px solid rgb(var(--shadow));
  padding: 2rem;
}

.quiz_question .rightChoice {
  background-color: rgba(19, 192, 3, 0.82);
  color: white;
}
.quiz_question .wrongChoice {
  background-color: rgba(221, 3, 3, 0.82);
  color: white;
}
